.App {
  margin: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchField{
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 20px;
}



table{
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
}

.userTable{
  margin: 20px;
}

.userTable th{
  background-color: burlywood;
}

.postsTable th{
  background-color:darkgray;
}




